Package: mlyx.neteasespringboardlyric
Name: NeteaseSpringBoardLyric
Version: 1.2.0
Architecture: iphoneos-arm
Description: NeteaseMusic && QQMusic Lyric in HomeScreen
Maintainer: mlyx
Author: mlyx
Section: Tweaks
Depends: mobilesubstrate,com.muirey03.libmryipc,firmware(>=13.0)


