Package: mlyx.neteasespringboardlyric
Name: MusicLyric
Version: 1.6.2
Architecture: iphoneos-arm
Description: NeteaseMusic && QQMusic && Spotify Lyric in HomeScreen
Maintainer: mlyx
Author: mlyx
Section: Tweaks
Depends: mobilesubstrate,com.muirey03.libmryipc,firmware(>=13.0)


