Package: mlyx.preferenceloader
Name: PreferenceLoader
Version: 0.0.2
Architecture: iphoneos-arm
Description: (Only Support Modern PreferenceBundle)A lightweight and modern alternative to Dustin Howett's PreferenceLoader,Thanks to ArtikusHG!
Maintainer: mlyx
Author: ArtikusHG
Section: Tweaks
Depends: mobilesubstrate 
Replaces: preferenceloader
Provides: preferenceloader (= 2.2.4)
Conflicts: preferenceloader
