<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>


		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>mlyx.neteaselyricsetting</string>
			<key>key</key>
			<string>isLyricEnabled</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Lyric Y-Axis</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>mlyx.neteaselyricsetting</string>
			<key>key</key>
			<string>Y-Axis</string>
			<key>max</key>
			<integer>896</integer>
			<key>min</key>
			<integer>0</integer>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
            <string>mlyx.neteaselyricsetting/Y-AxisChanged</string>
		</dict>

		<dict>
		   <key>cell</key>
		   <string>PSButtonCell</string>
		   <key>label</key>
		   <string>Restore Default Y-AXIS</string>
		   <key>action</key>
		   <string>restoreDefaultAxis</string>
		</dict>
        
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Application Extra</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>mlyx.neteaselyricsetting</string>
			<key>key</key>
			<string>isCleanNeteaseMusicEnabled</string>
			<key>label</key>
			<string>CleanNeteaseMusic</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>mlyx.neteaselyricsetting</string>
			<key>key</key>
			<string>isCleanQQMusicEnabled</string>
			<key>label</key>
			<string>CleanQQMusic</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SpringBoard Extra</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>mlyx.neteaselyricsetting</string>
			<key>key</key>
			<string>isCleanSpringBoardEnabled</string>
			<key>label</key>
			<string>CleanSpringBoard</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>mlyx.neteaselyricsetting</string>
			<key>key</key>
			<string>isCCArtworkEnabled</string>
			<key>label</key>
			<string>Music Artwork on ControlCenter</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>mlyx.neteaselyricsetting</string>
			<key>key</key>
			<string>isMusicBeQuietEnabled</string>
			<key>label</key>
			<string>Pause Music When Volume=0</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>mlyx.neteaselyricsetting</string>
			<key>key</key>
			<string>isCompactMediaPlayerEnabled</string>
			<key>label</key>
			<string>Compact LockScreen MediaPlayer</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>mlyx.neteaselyricsetting</string>
			<key>key</key>
			<string>isBluetoothLaunchEnabled</string>
			<key>label</key>
			<string>NeteaseFM When Airpods Connect</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>mlyx.neteaselyricsetting</string>
			<key>key</key>
			<string>isNotifyMusicEnabled</string>
			<key>label</key>
			<string>Notify When Audio Change</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Experimental</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>mlyx.neteaselyricsetting</string>
			<key>key</key>
			<string>isLockScreenEnabled</string>
			<key>label</key>
			<string>LockScreen Always On</string>
		</dict>



		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>About</string>
		</dict>


	 
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>action</key>
			<string>killSpringBoard</string>
		</dict>


       <dict>
		   <key>cell</key>
		   <string>PSButtonCell</string>
		   <key>label</key>
		   <string>Github</string>
		   <key>action</key>
		   <string>openGithub</string>
		</dict>
		
		<dict>
		   <key>cell</key>
		   <string>PSButtonCell</string>
		   <key>label</key>
		   <string>ChangeLog</string>
		   <key>action</key>
		   <string>openRelease</string>
		</dict>

	</array>
	<key>title</key>
	<string>Music Lyric</string>
</dict>
</plist>
